h1.title{
    padding-top: 10%;
    color: cadetblue;
}
p.label{
    color: grey;
}
input.searchInput{
    border-radius: 5px;
    box-shadow: 5px 5px grey;
    position: absolute;
    width: 50%;
    margin-left: 25%;
}
div.answerSection{
    width: 50%;
    padding-left: 25%;
    padding-top: 25px;
    text-align: center;
}
img.weatherImg{
    position: relative;
    padding-left: 25%;
    padding-top: 25px;
}