h1.title{
    color: cadetblue;
}

p.label{
    color: grey;
}
input.searchInput{
    border-radius: 5px;
    box-shadow: 2px 2px grey;
}
div.answerSection{
        box-shadow: 2px 2px grey;
}
img.weatherImg{
    position: absolute;
    width: 90%;
    margin-top: 15%;
}
